	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/05/2019 09:24
  	*/

@font-face {
  font-family: "LadingIcons";
  src: url("./_Flaticon.eot");
  src: url("./_Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./_Flaticon.woff2") format("woff2"),
       url("./_Flaticon.woff") format("woff"),
       url("./_Flaticon.ttf") format("truetype"),
       url("./_Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "LadingIcons";
    src: url("./_Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="licon-"]:before, [class*=" licon-"]:before,
[class^="licon-"]:after, [class*=" licon-"]:after {   
  font-family: LadingIcons;
font-style: normal;
}

.licon-cloud:before { content: "\f100"; }
.licon-cloud-computing:before { content: "\f101"; }
.licon-cloud-computing-1:before { content: "\f102"; }
.licon-analytics:before { content: "\f103"; }
.licon-box:before { content: "\f104"; }
.licon-delivery:before { content: "\f105"; }
.licon-call:before { content: "\f106"; }
.licon-analysis:before { content: "\f107"; }
.licon-more:before { content: "\f108"; }
.licon-opencart:before { content: "\f109"; }
.licon-first:before { content: "\f10a"; }
.licon-warehouse:before { content: "\f10b"; }
.licon-village:before { content: "\f10c"; }
.licon-education:before { content: "\f10d"; }
.licon-high-five:before { content: "\f10e"; }
.licon-network:before { content: "\f10f"; }
.licon-giftbox:before { content: "\f110"; }
.licon-contract:before { content: "\f111"; }
.licon-avatar:before { content: "\f112"; }
.licon-support:before { content: "\f113"; }
.licon-angle-arrow-right:before { content: "\f114"; }
.licon-next:before { content: "\f115"; }
.licon-right-arrow:before { content: "\f116"; }
.licon-24-hours:before { content: "\f117"; }