    /*
    Flaticon icon font: Flaticon
    Creation date: 19/05/2019 23:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cloud:before { content: "\f100"; }
.flaticon-cloud-computing:before { content: "\f101"; }
.flaticon-cloud-computing-1:before { content: "\f102"; }
.flaticon-analytics:before { content: "\f103"; }
.flaticon-box:before { content: "\f104"; }
.flaticon-delivery:before { content: "\f105"; }
.flaticon-call:before { content: "\f106"; }
.flaticon-analysis:before { content: "\f107"; }
.flaticon-more-button-of-three-dots:before { content: "\f108"; }
.flaticon-f0209ca1b85331db6837f3b50521fcdb:before { content: "\f109"; }
.flaticon-first:before { content: "\f10a"; }
.flaticon-warehouse:before { content: "\f10b"; }
.flaticon-village:before { content: "\f10c"; }
.flaticon-education:before { content: "\f10d"; }
.flaticon-high-five:before { content: "\f10e"; }
.flaticon-network:before { content: "\f10f"; }
.flaticon-giftbox:before { content: "\f110"; }
.flaticon-contract:before { content: "\f111"; }
.flaticon-avatar:before { content: "\f112"; }
.flaticon-support:before { content: "\f113"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f114"; }
.flaticon-next:before { content: "\f115"; }
.flaticon-right-arrow:before { content: "\f116"; }
.flaticon-24-hours:before { content: "\f117"; }
    
    $font-Flaticon-cloud: "\f100";
    $font-Flaticon-cloud-computing: "\f101";
    $font-Flaticon-cloud-computing-1: "\f102";
    $font-Flaticon-analytics: "\f103";
    $font-Flaticon-box: "\f104";
    $font-Flaticon-delivery: "\f105";
    $font-Flaticon-call: "\f106";
    $font-Flaticon-analysis: "\f107";
    $font-Flaticon-more-button-of-three-dots: "\f108";
    $font-Flaticon-f0209ca1b85331db6837f3b50521fcdb: "\f109";
    $font-Flaticon-first: "\f10a";
    $font-Flaticon-warehouse: "\f10b";
    $font-Flaticon-village: "\f10c";
    $font-Flaticon-education: "\f10d";
    $font-Flaticon-high-five: "\f10e";
    $font-Flaticon-network: "\f10f";
    $font-Flaticon-giftbox: "\f110";
    $font-Flaticon-contract: "\f111";
    $font-Flaticon-avatar: "\f112";
    $font-Flaticon-support: "\f113";
    $font-Flaticon-angle-arrow-pointing-to-right: "\f114";
    $font-Flaticon-next: "\f115";
    $font-Flaticon-right-arrow: "\f116";
    $font-Flaticon-24-hours: "\f117";