
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900&amp;subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Rubik");
// Variables
//@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~startbootstrap-sb-admin-2/css/sb-admin-2";//file:///C:/Users/User/Desktop/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css

*::selection {
  background: #ff5f00;
  color: #fff;
}

.page-header {
  margin-top: 0;
}
.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6 {
  margin: 0;
  font-size: 30px;
  display: inline-block;
}
.panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 {
  display: inline-block;
}
.panel-body {
  padding-bottom: 45px;
}

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.sidebar .nav-item .nav-link .img-profile,
.topbar .nav-item .nav-link .img-profile {
  height: 3rem;
  width: 3rem;
}

.bg-login-image {
  background-image: url('https://images.unsplash.com/photo-1518365050014-70fe7232897f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.bg-register-image {
  background: url("https://images.unsplash.com/photo-1517976384346-3136801d605d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.bg-gradient-primary.reg {
  background-color: #183972;
  background-image: none;
}
.border-right-success {
  border-right: 0.25rem solid #1cc88a !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}